$text-rectangle : "Verdana";
$color-rectangle : black;//rgb(249, 250, 248);

html, body{
  font-size: 100%;
  margin: 0%;
}

@media screen and (max-width: 40em) {
  body {
    font-size:90%;
  }
}

@media screen and (max-width: 30em) {
  body {
    font-size:80%;
  }
}

#rectangle {
  background-color: rgb(67, 198, 184);
  left: 0px;
  top: 0px;
  width: 100%;
}

.clear-fix:after{
  clear: both;
  content: "";
  display: block;
}

#logo {
  display: inline-block;
  border: 1px solid red;
  text-decoration: none;
  font-size: 120%;
  font-family: $text-rectangle;
  color: $color-rectangle;
  float: left;
  max-width:100%;
  height:auto;
  text-align: right;
  line-height: 3.5em;
  letter-spacing: 0.1em;
  margin-left: 30%;
}



#goods {
  display: inline-block;
  border: 1px solid red;
  text-decoration: none;
  font-size: 120%;
  font-family: $text-rectangle;
  color: $color-rectangle;
  float: left;
  max-width:100%;
  height:auto;
  text-align: right;
  line-height: 3.5em;
  letter-spacing: 0.1em;
  margin-left: 10%;
}

#contacts {
  display: inline-block;
  border: 1px solid red;
  text-decoration: none;
  font-size: 120%;
  font-family: $text-rectangle;
  color: $color-rectangle;
  float: left;
  max-width:100%;
  height:auto;
  text-align: right;
  line-height: 3.5em;
  letter-spacing: 0.1em;
  margin-left: 5%;
}

#back_communication {
  display: inline-block;
  text-decoration: none;
  font-size: 120%;
  font-family: $text-rectangle;
  color: $color-rectangle;
  float: left;
  text-align: right;
  line-height: 3.5em;
  max-width:100%;
  height:auto;
  letter-spacing: 0.1em;
  margin-left: 5%;
  border: 1px solid red;
}

#loupe{
  display: inline-block;
  text-align: center;
  padding: 10px 0;
  float: left;
  clear: right;
  border: 1px solid red;
  width: 10%;
  max-width:100%;
  height:auto;
  margin-left: 5%;
  line-height: 3em;
}

#text_Main {
  clear: left;
  font-size: 48px;
  font-family: "Verdana";
  color: rgb(23, 110, 101);
  line-height: 1.2;
  text-align: center;
  clear: top;
  width: 100%;
  height: 37px;
  z-index: 66;
}


#rectangle_Main {
  background-color: rgb(255, 255, 255);
  opacity: 0.749;
  position: absolute;
  left: -1px;
  top: 66px;
}

#main_Back{
  background-size: cover;
}

#image_Main  {
  position: absolute;
  left: -2px;
  top: 16px;
  width: 1202px;
  height: 609px;
  z-index: 64;
}




